*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./textures/bg-texture.png);
}

#wrapper{
    width: 1260px;
    height: 2000px;
    border: 1px lightgray solid;
    margin: 0 auto;
    border-top: none;
    background-color: white;
}

#header{
    width: 988px;
    height: 41px;
    margin: 0 auto;
    background-color: rgb(24,28,52);
}

#kalkulacka{
    width: 212px;
    height: 41px;
    background-color: #c01414;

}

#menu{
    margin: 0 auto;
    width: 1200px;
    height: 41px;
}

.float{
    float: left;
}

.clearFix{
    clear: both;
}