*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./textures/bg-texture.png);
}

#wrapper{
    width: 1260px;
    height: 2000px;
    border: 1px lightgray solid;
    margin: 0 auto;
    border-top: none;
    background-color: white;
}

#header{
    width: 988px;
    height: 41px;
    margin: 0 auto;
    background-color: rgb(24,28,52);
}

#kalkulacka{
    width: 212px;
    height: 41px;
    background-color: #c01414;

}

#menu{
    margin: 0 auto;
    width: 1200px;
    height: 41px;
    color: white;
}

#headerLogo{
    width: 1200px;
    height: 120px;
    background-color: antiquewhite;
    margin: 0 auto;
}

#itemMenu{
    width: 1200px;
    height: 60px;
    background-color: aquamarine;
    margin: 0 auto;
}

#bannerSection{
    width: 1200px;
    height: 475px;
    margin: 0 auto;
    background-color: bisque;
}

#itemSection{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: #c01414;
}

#sekciaObrazkov{
    width: 1200px;
    height: 183px;
    background-color: green;
    margin: 0 auto;
}

#topProdukty{
    width: 1200px;
    height: 63px;
    background-color: yellow;
    margin: 0 auto;
}

#sekciaAkcii{
    width: 1200px;
    height: 635px;
    background-color: blue;
    margin: 0 auto;
    color: white;
}

footer{
    width: 1260px;
    height: 345px;
    margin: 0 auto;
    background-color: black;
    color: white;
}



.float{
    float: left;
}

.clearFix{
    clear: both;
}