*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./textures/bg-texture.png);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper{
    width: 1260px;
    height: 2000px;
    border: 1px lightgray solid;
    margin: 0 auto;
    border-top: none;
    background-color: white;
}

#header{
    width: 988px;
    height: 41px;
    margin: 0 auto;
    background-color: rgb(24,28,52);
    
}

#header ul {
    list-style-type: none;
    color: rgb(255, 255, 255);
    float: left;
}

#header ul li{
    float: left;
    padding: 10px 20.5px;
    font-size: 14px;
    
}

#leftPartMenu{
    width: 770px;
    float: left;
    border: 1px yellow solid;
}

#rightPartMenu{
    width: 214px;
    border: 1px blue solid;
}


.floatRight{
    float: right;
}


#kalkulacka{
    width: 212px;
    height: 41px;
    background-color: #c01414;

}

#menu{
    margin: 0 auto;
    width: 1200px;
    height: 41px;
    color: white;
}

#headerLogo{
    width: 1200px;
    height: 120px;
    background-color: antiquewhite;
    margin: 0 auto;
}

#itemMenu{
    width: 1200px;
    height: 60px;
    background-color: aquamarine;
    margin: 0 auto;
}

#bannerSection{
    width: 1200px;
    height: 475px;
    margin: 0 auto;
    background-color: bisque;
}

#itemSection{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: #c01414;
}

#sekciaObrazkov{
    width: 1200px;
    height: 183px;
    background-color: green;
    margin: 0 auto;
}

#topProdukty{
    width: 1200px;
    height: 63px;
    background-color: yellow;
    margin: 0 auto;
}

#sekciaAkcii{
    width: 1200px;
    height: 635px;
    background-color: blue;
    margin: 0 auto;
    color: white;
}

footer{
    width: 1260px;
    height: 345px;
    margin: 0 auto;
    background-color: black;
    color: white;
    position: relative;
    
    
}

#footerContent{
    position: absolute;
    background-color: #c01414;
    width: 1170px;
    height: 270px;
    top:50%;
    left:50%;
    margin-left:-585px;/* half width*/
    margin-top:-135px;/* half height*/
}



.float{
    float: left;
}

.clearFix{
    clear: both;
}